:host {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  background: var(--color10);
  color: var(--color100);
  border-top: var(--border-thickness) solid var(--color20);
}

.icon {
  filter: invert(var(--color-scheme));
}

.menu {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  box-sizing: border-box;
}

.menu:hover .avatar {
  border-color: var(--color-accent60);
  background-color: var(--color-accent50a);
}

.menu:hover .popup {
  display: block;
}

.avatar {
  margin-left: auto;
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-thickness) solid var(--color30);
  transition: border-color 0.25s linear, background-color 0.25s linear;
  cursor: pointer;
}

.popup {
  display: none;
  position: absolute;
  bottom: 2.5rem;
  right: 0;
  background: var(--color20);
}

.menu__item {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.25s linear;

  &:hover {
    background-color: var(--color-accent50a);
  }
}
