.header {
  height: calc(2.5rem - var(--border-thickness));
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0 1rem;
  box-sizing: border-box;
  background: var(--color10);
  color: var(--color100);
  border-bottom: var(--border-thickness) solid var(--color20);
}
