.card_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 0.25rem;
  padding: 0.25rem;
}

.card_list.edit_mode {
  padding-bottom: 2.75rem;
}

.message {
  text-align: center;
}

.bg_image {
  margin: 0.5rem;
  height: 12rem;
  z-index: -1;
}

.card_controls {
  display: flex;
  column-gap: 0.125rem;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
