@let cardList=cards();
@let isEditMode=editMode();

@if(!cardList.length){
@for(line of empty; track $index){
<p class="message">{{line}}</p>
}
<img class="bg_image" src="./assets/wi-fi-girl2.png" alt="bg_image" />
}@else{
<div class="card_list" [class.edit_mode]="isEditMode">
  @for (card of cardList; track card.id; let i = $index;) {
  <div>
    <app-card [data]="card">
      @if(isEditMode){
      <div class="card_controls">
        <button (click)="moveCardUp(card.id)" [disabled]="i === 0">↑</button>
        <button (click)="addDevice(card.id)" [disabled]="card.layout==='singleDevice' && card.items.length">
          <span class="font-icon">add</span>
        </button>
        <button (click)="moveCardDown(card.id)" [disabled]="i === cardList.length - 1">↓</button>
        <button (click)="removeCard(card.id)">
          <span class="font-icon">delete</span>
        </button>
      </div>
      }
    </app-card>
  </div>
  }
</div>
}
