:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 16rem;
  background-color: var(--color10);
  border-radius: 0.5rem;
  border: var(--border-thickness) solid var(--color30);
  padding: 1rem;
  text-align: center;
}

.content h3 {
  text-align: center;
  margin-top: 0;
}
