@import url('./colors.scss');
@import url('./icons.scss');

:root {
  --font-family: system-ui, Helvetica, Arial, sans-serif;
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color100);
  background-color: var(--color00);

  --border-radius: 0.375rem;
  --border-thickness: 2px;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--color-accent80);
  transition: color 0.25s linear;

  &:hover {
    color: var(--color-accent80a);
  }
}

input,
select,
button {
  outline: none;
}

.button {
  border: none;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--color30);
  transition: background-color 0.25s linear;

  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: var(--color-accent60);
  }
}

.button.icon>span:first-child {
  font-size: larger;
  font-family: "Material Icons";
  vertical-align: text-bottom;
}
