@use '@angular/material' as mat;

:root {
  @include mat.tabs-overrides((divider-height: var(--border-thickness),
      divider-color: var(--color20),
      label-text-font: var(--font-family),
      label-text-size: unset,
      label-text-weight: 400,
      container-height: calc(2.5rem - var(--border-thickness) * 2),
      active-label-text-color: var(--color100),
      active-focus-label-text-color: var(--color100),
      active-hover-label-text-color: var(--color100),
      inactive-label-text-color: var(--color100),
      inactive-focus-label-text-color: var(--color100),
      inactive-hover-label-text-color: var(--color100),
      active-indicator-color: var(--color-accent60),
      active-focus-indicator-color: var(--color-accent60),
      active-hover-indicator-color: var(--color-accent60),
    ));
  @include mat.icon-button-overrides((icon-color: var(--color100)));
  @include mat.slide-toggle-overrides((track-height: 1rem,
      track-width: 2rem,
      track-shape: 0.5rem,
      selected-track-color: var(--color-accent50a),
      selected-focus-track-color: var(--color-accent50a),
      unselected-focus-track-color: #8888,
      selected-pressed-track-color: var(--color-accent50a),
      track-outline-color: #888,
      selected-track-outline-color: var(--color-accent60),
      selected-hover-track-color: var(--color-accent60a),
      unselected-hover-track-color: #8888,
      handle-shape: 0.5rem,
      selected-handle-size: 1rem,
      unselected-handle-size:1rem,
      pressed-handle-size:1rem,
      selected-handle-color: var(--color-accent80),
      selected-hover-handle-color: var(--color-accent80),
      selected-focus-handle-color: var(--color-accent80),
      unselected-handle-color: #888,
      unselected-hover-handle-color: #888,
      unselected-focus-handle-color: #888,
      selected-handle-horizontal-margin: 0 1rem,
      selected-pressed-handle-horizontal-margin: 0 1rem,
      unselected-handle-horizontal-margin: 0,
      unselected-pressed-handle-horizontal-margin: 0,
    ));
}

.mat-mdc-tab-header {
  background-color: var(--color10) !important;
}
