:host {
  min-height: 20rem;
}

.sidebar {
  position: relative;
  width: 12rem;
  height: 100%;
  box-sizing: border-box;
  border-left: var(--border-thickness) solid var(--color20);
  border-right: var(--border-thickness) solid var(--color20);
}
