.header {
  height: 2.5rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0 2rem 0 1rem;
  background: var(--color10);
  font-weight: 500;
  color: var(--color100);
  border-bottom: var(--border-thickness) solid var(--color20);
}
