.button {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.125rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 0.25s linear;

  &:hover {
    opacity: 0.6;
  }

  &>img {
    width: 1.25rem;
    height: 1.25rem;
    filter: invert(var(--color-scheme));
  }
}
