<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3 class="form__header">{{title}}</h3>
  <input name="title" formControlName="title" placeholder="title*" maxlength="50" required />
  @if (form.controls.title.errors && form.controls.title.touched) {
  <div class="error">{{ validationErrors }}</div>
  }
  <div class="form__btns">
    <button type="submit" class="button" [disabled]="form.invalid">OK</button>
    <button type="button" class="button" (click)="onCancel()">Cancel</button>
  </div>
</form>
