:host {
  width: 100%;
}

.device {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;

  &:hover .icon {
    background-color: var(--color-accent50a);
  }
}

.icon {
  margin-left: auto;
  color: #888;
  padding: 0.25rem;
  border-radius: 1rem;
  transition: background-color 0.25s linear;
}

.icon_on {
  color: var(--color-accent80);
}
