:host {
  position: relative;
  flex-grow: 1;
}

.section {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-top: var(--border-thickness) solid var(--color20);
  border-right: var(--border-thickness) solid var(--color20);
}

.message {
  text-align: center;
}

.controls_top,
.controls_bot {
  position: absolute;
  right: 0.5rem;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.5rem;
  z-index: 100;
}

.controls_top {
  top: 0.5rem;
}

.controls_bot {
  bottom: 0.5rem;
}

.bg_image {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  height: 12rem;
  z-index: -1;
}
