.sensor {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.sensor.vertical {
  width: unset;
  flex-direction: column;
}

.state {
  margin-left: auto;
}

.icon {
  color: var(--color-accent80);
}
